#title {
  text-align: center;
}

#articles {
  display: grid;
  gap: 5rem;
}

#articles h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

#popular {
  display: grid;
  gap: 3rem;
}
@media (min-width: 800px) {
  #popular {
    grid-template-columns: repeat(2, 1fr);
  }
}

#popular .article {
  display: grid;
  border-radius: 10px;
  transition: 0.15s;
  gap: 1rem;
  background-color: hsl(240, 20%, 95%);
}
#popular .article:hover {
  box-shadow: 0 1px 30px 0 rgb(0 0 0 / 0.2), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

#popular .article:hover button {
  color: hsl(240, 97%, 58%);
}

#popular .wrap {
  padding: 1.5rem;
}

#popular h3 {
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
@media (min-width: 800px) {
  #latest h3 {
    font-size: 2rem;
  }
}

#popular .details {
  margin-bottom: 1rem;
  display: flex;
  gap: 1.25rem;
}

#popular .time,
#popular .author {
  display: grid;
  grid-template-columns: 12px 1fr;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.85rem;
}
@media (min-width: 800px) {
  #popular .time,
  #popular .author {
    font-size: 1rem;
  }
}

#popular button {
  all: unset;
  margin-top: 1rem;
  cursor: pointer;
  color: hsl(240, 97%, 28%);
  display: grid;
  grid-template-columns: 1fr 25px;
  justify-self: start;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 800px) {
  #popular button {
    font-size: 1.25rem;
  }
}

/* ---- latest ---- */

#latest {
  display: grid;
  gap: 3rem;
}

#latest .article {
  display: grid;
  border-radius: 10px;
  transition: 0.15s;
  gap: 1rem;
}
@media (min-width: 800px) {
  #latest .article {
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;
  }
}
#latest > .article:hover {
  box-shadow: 0 1px 30px 0 rgb(0 0 0 / 0.2), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

#latest .wrap {
  display: grid;
  align-items: center;
  padding: 1rem;
}

#latest .wrap > p {
  display: none;
  font-size: 1.2rem;
}
@media (min-width: 1200px) {
  #latest .wrap > p {
    display: block;
  }
}

#latest h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}
@media (min-width: 800px) {
  #latest h3 {
    font-size: 1.75rem;
  }
}

.article > img {
  border-radius: 10px;
  object-fit: cover;
}

#latest .details {
  margin-bottom: 1rem;
  display: flex;
  gap: 1.25rem;
}

#latest .time,
#latest .author {
  display: grid;
  grid-template-columns: 12px 1fr;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
}

#latest button {
  all: unset;
  cursor: pointer;
  color: hsl(240, 97%, 28%);
  display: grid;
  grid-template-columns: 1fr 25px;
  justify-self: start;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 800px) {
  #latest button {
    font-size: 1.25rem;
  }
}

#latest > .article:hover button {
  color: hsl(240, 97%, 58%);
}
